@charset "UTF-8";
/* CSS Document */

body {
	background-color: hsl(216, 12%, 8%);
	font-family: 'Overpass', sans-serif;
	height: 100vh;
}

p {
	font-size: 15px;
}

button {
	all: unset;
}

.component-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ratings-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; /*remove this once ready to launch*/
}

.content-contain {
	background-color:  hsl(213, 19%, 18%);
	border-radius: 20px;
	padding: 30px;
	width: 350px;
}

.title {
	color: white;
}

.statement {
	color: hsl(217, 12%, 63%);
	line-height: 22px;
}

.rating-numbers {
	display: flex;
	justify-content: space-between;
}

.numbers {
	background-color:  hsl(213, 19%, 22%);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	line-height: 60px;
	text-align: center;
	color: hsl(217, 12%, 63%);
	margin: 20px 0px;
}

.submit {
	background-color: hsl(25, 97%, 53%);
	border-radius: 30px;
	height: 50px;
	width: 350px;
	color: white;
	text-align: center;
	margin: 20px 0px 10px 0px;
	letter-spacing: 0.2em;
	font-weight: 700;
}
/*
.thanks {
	display: none;
}
*/
.you-selected {
	color: hsl(25, 97%, 53%);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	color: hsl(217, 12%, 63%)
}

footer a:visited {
	color: hsl(217, 12%, 63%)
}